@import "src/styles/fonts.scss";
@import "src/styles/colors.scss";
@import "src/styles/utils.scss";
@import "src/styles/animations.scss";

.appRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: $lightgray;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  @include respond-to(desktop) {
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
  }

  .loader {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $darkpurple;

    svg {
      width: 100%;
      height: 100%;
      animation: spin 1s ease-in-out infinite;
    }
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 7;
    width: calc(100% - 4rem);

    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: center;
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      padding: 1rem;
      gap: 1.25rem;
      background: $white;
      z-index: 2;
      margin-top: 2rem;
      width: 100%;
      position: relative;

      @include respond-to(desktop) {
        width: 30rem;
        margin-top: 0;
      }

      .formHeader {
        @include heading;
        border-bottom: 1px solid black;
        padding: 0.5rem 0rem;
      }

      .formBody {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
      }

      .formFooter {
        @include body-semibold;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        padding-top: 1rem;
        gap: 1rem;

        .formFooterText {
          align-self: center;
        }

        .formFooterButton {
          display: flex;
          gap: 1rem;

          .submitButton {
            @include body;
            padding: 0.5rem 1rem;
            background: $purple;
            color: $white;
            outline: none;
            border: none;
            border-radius: 0.75rem;
            cursor: pointer;

            &:hover,
            &:focus {
              background: $darkpurple;
            }
          }

          .disabled {
            background: $darkgray;
            cursor: not-allowed;

            &:hover,
            &:focus {
              background: $darkgray;
            }
          }

          .formLoading {
            display: flex;
            align-items: center;
            animation: spin 1s linear infinite;

            svg {
              height: 1.5rem;
              width: 1.5rem;
              color: $darkpurple;
            }
          }
        }
      }
    }

    .animationContainer {
      position: relative;
      z-index: 0;
      gap: 1rem;
      flex-direction: column;
      padding-bottom: 1rem;
      display: flex;
      transform: translateY(-42rem);

      @include respond-to(desktop) {
        display: flex;
        transform: translateX(-34rem);
      }
    }

    .animate {
      @keyframes slideAnimation {
        0% {
          transform: translateY(-42rem);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @include respond-to(desktop) {
        @keyframes slideAnimation {
          0% {
            transform: translateX(-34rem);
            opacity: 0;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }

      animation: slideAnimation 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
    }

    .hide {
      display: none;

      @include respond-to(desktop) {
        display: flex;
        opacity: 0;
      }
    }
  }
}
